﻿@model IList<DotNetQuiz.Web.Models.Questions>

@{
    ViewBag.Title = "Home Page";
}

@foreach(var question in Model)
{
    <div id="question">
        <p>@question.QuestionText</p>
    </div>
    
    <div id="answers">
        <ul>
            @foreach (var answer in question.Answers)
            {
                <li>@answer.AnswerText</li>
            }
        </ul>
    </div>   
}